#ml-main-nav ul {
  list-style-type: none;
  padding-left: 0;
}

#ml-main-nav a {
  text-decoration: none;
  color: black;
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 28px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

.banner {
  width: 100%;
}
