<!DOCTYPE html>
<html>

<head>
    <title>DH Movies | Login</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>Login</h1>
    <p>Bienvenidos de vuelta a nuestro sistema</p>

    <form action="/login" method="post">
        <div>
            <label for="email">Email:</label>
            <input id="email" type="text" name="email">
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input id="password" type="password" name="password">
        </div>
        <div>
            <button type="submit">Logueame!</button>
        </div>
    </form>
</body>

</html>