<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src="/js/moviesAddValidation.js"></script>
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1 class="moviesAddTitulo"></h1>
    <br>

    <ul id="errors" class="hidden">
    </ul>

    <section id="formulario">
        <article>
            <form action="/movies/add" method="GET">
                <label for="title">Titulo </label>
                <p><input type="text" name="title" id="title"></p>
                <label for="rating">Calificación </label>
                <p><input type="number" name="rating" id="rating"> </p>
                <label for="awards">Premios </label>
                <p><input type="number" name="awards" id="awards"></p>
                <label for="release_date">Fecha de creación </label>
                <p><input type="date" name="release_date" id="release_date"></p>
                <label for="length">Duración </label>
                <p><input type="number" name="length" id="length"></p>
                <label for="genre_id">Género </label>
                <p>
                    <select name="genre_id" id="genre_id">
                        <option value="" disabled selected>- Seleccione el género - </option>
                        <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %></option>
                        <% }); %>
                    </select>
                </p>
                <br>
                <p> <button class="botonAgregar" type="submit">Agregar</button>

                    <a class="botonVolver" href="/movies">Listado de Películas</a>
                </p>
            </form>
        </article>
    </section>

</body>

</html>