<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/utils.css" />
        <link rel="stylesheet" href="/css/theme.css" />

        <link rel="stylesheet" href="/css/styles.css" />

        <link
            rel="stylesheet"
            href="/css/styles-sm.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width:1280px)"
        />
    </head>
    <body>
        <header class="ml-yellow-bg padding">
            <img
                id="logo"
                class="w-50"
                src="/img/logo-mercado-liebre.svg"
                alt=""
            />
            <div>
                <input type="text" placeholder="Buscar productos, marcas" />
                <button><i class="fa fa-search"></i></button>
            </div>
            <p class="text-center">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
                tarjeta de crédito
            </p>
            <nav id="ml-main-nav">
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#"
                            >Creá tu cuenta <i class="far fa-id-card"></i
                        ></a>
                    </li>
                    <li>
                        <a href="#"
                            >Ingresá <i class="fas fa-sign-in-alt"></i
                        ></a>
                    </li>
                    <li>
                        <a href="#"
                            >Mis compras <i class="fas fa-shopping-basket"></i
                        ></a>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu ml-lb-bg">
                <i class="fas fa-bars ml-light-text"></i>
            </div>
        </header>
        <img
            class="banner"
            src="/img/img-home-banner.jpg"
            alt="En estas fiestas no te pierdas ninguna venta"
        />
        <main id="main-content">
            <section>
                <h2 class="text-title">Basado en tu última visita</h2>
                <div class="product-wrapper">
                    <article class="product">
                        <img
                            class="product-img"
                            src="/img/img-cafetera-moulinex.jpg"
                            alt=""
                            width="100%"
                        />
                        <div class="product-content">
                            <i
                                class="fas fa-truck ml-green-text truck-icon"
                            ></i>
                            <p class="text-price">$6.770</p>
                            <p class="text-discount ml-green-text">40% OFF</p>
                            <p class="text-desc">Cafetera Moulinex</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>
